@font-face {
	font-family: "GothamRounded-Bold";
	src: url("/fonts/GothamRounded-Bold.woff2");
}
@font-face {
	font-family: "GothamRounded";
	src: url("/fonts/GothamRounded.woff2");
}
@keyframes rotate90 {
	from {transform: rotate(0deg);}
	to {transform: rotate(90deg);}
}
@keyframes rotate0 {
	from {transform: rotate(90deg);}
	to {transform: rotate(180deg);}
}
* {
	font-family: "GothamRounded";
	margin: 0px;
}
h1 a, h2, h2 a, h3, #button, #name {
	font-family: "GothamRounded-Bold";
}
h1, #name {
	font-size: 48px;
	padding: 32px;
}
h2, #button {
	font-size: 32px;
	padding: 16px;
}
h3 {
	font-size: 24px;
	padding: 12px;
}
#navigationBar {
	font-size: 24px;
	padding-left: 32px;
}
#navigationBar a {
	padding-right: 16px;
}
p {
	font-size: 16px;
	padding: 8px;
}
h1, h2, h3, p, a, button {
	text-align: center;
}
*:not(main p a) {
	text-decoration: none;
}
a:not(#button):hover {
	color: #004F80;
}
body {
	background-color: #009DFF;
	line-height: 200%;
}
header *, footer *, main a:not(h2 a) {
	color: #FFFFFF;
}
main, main a {
	background-color: #80CEFF;
	color: #000000;
}
header {
	height: 180px;
	padding-top: 16px;
	padding-bottom: 32px;
}
div:not(#sslcontactholder, #sslcontactholder *), footer {
	padding: 32px;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline;
	height: 0;
}
#name {
	position: absolute;
	top: 75px;
}
#logo {
	position: absolute;
	left: 395px;
	width: 128px;
	height: 128px;
}
#button {
	background-color: #004F80;
	border-radius: 32px;
	position: absolute;
	float: right;
	right: 10px;
	top: 85px;
}
nav li {
	display: inline;
}
nav a {
	display: inline;
	position: relative;
	top: 150px;
}
#mobileMenuButton {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 32px;
	right: 32px;
}
@media screen and (max-width: 834px) {
	nav ul {
		width: 100%;
		position: absolute;
		top: 225px;
		padding-top: 0;
		/*display: none;*/
		overflow: hidden;
		transition: 0.75s;
		background-color: #009DFF;
	}
	#navigationBar {
		padding: 0;
	}
	nav li {
		display: block;
		margin-top: 10px;
		padding-left: 32px;
	}
	#name {
		display: none;
	}
	#logo {
		display: block;
		float: none;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 128px;
		height: 128px;
	}
	header {
		height: 180px;
		width: 100%;
		margin-top: 0px;
		background-color: #009DFF;
	}
	#button {
		position: absolute;
		top: 150px;
		left: 50%;
		transform: translateX(-50%);
		align-self: center;
	}
	#mobileMenuButton {
		display: block;
	}
	nav a {
		top: 0;
	}
}