
@font-face {
	font-family: "GothamRounded-Bold";
	src: url("fonts/GothamRounded-Bold.otf");
}
@font-face {
	font-family: "GothamRounded";
	src: url("fonts/GothamRounded.otf");
}
* {
	font-family: "GothamRounded";
}
#logo {
    margin: 18px;
    float: left;
}

header {
	background-color: #009bff;
	height: 180px;
	width: 100%;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#name {
	text-decoration: none;
	color: #0000ff;
	position: absolute;
	right: 20px;
	padding-top: 30px;
	font-size: 80px;
	float: right;
}
nav {
	margin-bottom: 0;
}
li {
	display: inline;
	padding: 15px;
}
nav a {
	text-decoration: none;
	color: #0000ff;
	display: inline;
	position: relative;
	left: 30px;
	top: 125px;
	font-size: 25px;
	cursor: pointer;
}
nav a:hover {
	color: #ffffff;
}
#open {
	color: #ffffff;
}
#dropdown {
	overflow: hidden;
	text-decoration: none;
	color: #0000ff;
	display: inline;
	position: relative;
	left: 30px;
	top: 125px;
	font-size: 25px;
} 
#dropdown #dropdown-button {
	font-size: 25px;
	border: none;
	outline: none;
	color: #0000ff;
	padding: 14px 16px;
	background-color: inherit;
}
#dropdown-content {
	display: none;
	position: absolute;
	top: 40px;
	right: 0px;
	background-color: #0000ff;
	height: 115px;
	width: 350px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
#dropdown-content a {
	float: none;
	color: #009bff;
	top:10px;
	text-decoration: none;
	display: block;
	text-align: left;
}
#dropdown-content a:hover {
	color: #ffffff;
}
#dropdown:hover #dropdown-content {
	display: block;
}
#auftrag-button {
	color: #009bff;
	background-color: #0000ff;
	text-decoration: none;
	border-radius: 40px;
	padding: 15px;
	font-size: 40px;
	position: absolute;
	top: 25px;
	left: 230px;
}
#auftrag-button:hover {
	color: #ffffff;
}
body {
	background-color: #009bff;
	margin: 0;
	font-family: GothamRounded;
}
#header {
	position: fixed;
	top: 0;
	height: 185px;
}
#footer {
	top: 0;
	height: 128px;
}

main {
	background-color: blue;
}
#menu ul li {
	display: inline-block;
}
iframe {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
